{% extends "layout.html" %}

{% block body %}

    <h1>Update</h1>
    <form action="/update" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <input autocomplete="off" autofocus name="password" placeholder="Password" type="password">
        <input autocomplete="off" autofocus name="email" placeholder="Email" type="text">
        {% for sport in sports %}
            <input name="sport" type="radio" value="{{ sport }}"> {{sport}}
        {% endfor %}
        <input type="submit" value="Update">
    </form>
{% endblock %}